.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  height: 100vh;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tab-container {
  display: flex;
  justify-content: space-around;
}
.images-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
